@font-face {
    font-family: norseBold;
    src: url(fonts/Norse-Bold.otf);
 }
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: "Lato", sans-serif;
}
.signUpForm{
    display: flex;
    flex-wrap: wrap;
    padding: 40px 20px;
    flex-direction: column;
    gap: 40px;
 }
 .inputPair {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    width: 250px;
  }
 .Upper-para {
    padding: 40px 20px;
    margin-bottom: 0;
    font-size: large;
    font-weight: bolder;
 }
 
 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
 }
 .left-container{
    font-family: norseBold;
    color: WHITE;
    position: relative;
    
 }
 .right{
    background-color: rgba(128, 128, 128, 0.043);
    padding-left: 20px;

    
 }
 .img-two{
    position: absolute;
    left: 175px;
    width: 100px;
    top: 220px;
 }
 .odin{
    left: 280px;
    font-size: 80px;
    top: 180px;
 }

 .black-bg{
    width: 550px;
    background-color: black;
    position: absolute;
    left: 175px;
    top: 180px;
    opacity: 0.5;
 }
 .img-one {
    width: 550px;
    height: 770px;
 }
 .credits {
    color: white;
    font-size: small;
    position: absolute;
    bottom: 5px;
    left: 200px;
    font-family: "Lato", sans-serif;
 }
 a{
    color: white;
 }
 button{
    background-color: #596D48;
    color: white;
    padding: 5px 30px;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    width: 200px;
 }
 .row-1{
    display: flex;
    gap: 40px;
    
 }
 .row-2{
    display: flex;
    gap: 40px;
    
 }
 .row-3{
    display: flex;
    gap: 40px;
    
 }

 label{
    font-size:small;
    font-weight: 500;
 }
 .footer {
    font-weight: bold;
 }

 input{
    border: 1px solid #E5E7EB;
    width: 200px;
    height: 20px;
    font-size: medium;
    border-radius: 4px;
    padding:8px;
 }
 input:focus {
    border-color: blue;
    outline: none;
 }
 
input:invalid{
    border-color: red;
}

